<html>
  <head>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css">
    <title><%= @title %></title>
    <style type="text/css"><%= Sitex.Builder.code_style() %></style>
  </head>
  <body>
    <%= @inner_body %>
  </body>
</html>
