<html>
  <head>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css">
    <link rel="stylesheet" href="https://newcss.net/theme/night.css">
    <title><%= @title %></title>
  </head>
  <body>
    <header>
      <h1>Sitex</h1>
      <nav>
        <%= for section <- @pages do %>
          <a href="<%= "#{section.url}" %>"><%= section.title %></a>
          |
        <% end %>
      </nav>
    </header>
    <article>
          <%= @content %>
    </article>
    <footer>Footer</footer>
  </body>
</html>
