<header>
  <h1>Home</h1>
  <nav>
    |
    <%= for section <- @pages do %>
      <a href="<%= "#{section.url}" %>"><%= section.title %></a>
      |
    <% end %>
  </nav>
</header>
<main>
  <section>
    <h2>Latest posts</h2>
    <ul>
      <%= for post <- @posts do %>
      <li>
        <a href="<%= "#{post.url}" %>"><%= post.date %> <strong><%= post.title %></strong></a>
      </li>
      <% end %>
    </ul>
  </section>
</main>
<footer>
</footer>
