<html>
  <head>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css">
    <title><%= @title %></title>
    <style type="text/css"><%= Sitex.Builder.code_style() %></style>
  </head>
  <body>
    <header>
      <h1>Sitex</h1>
      <nav>
          |
        <%= for section <- @pages do %>
          <a href="<%= "#{section.url}" %>"><%= section.title %></a>
          |
        <% end %>
      </nav>
    </header>
    <main>
      <%= @inner_body %>
    </main>
    <footer>Footer</footer>
  </body>
</html>
